<!doctype html>
<html lang="en" ng-app="weatherApp">
    <head>
        <title>IPSA Weather Station</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
        <!--Bootstrap-->
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

        <!--jQuery-->
        <script src='http://code.jquery.com/jquery-1.7.2.min.js'></script>
        
        <!--Socket.io -->
        <script src='http://localhost:3000/socket.io/socket.io.js'></script>

        <!--Angular -->
        <script src="lib/angular/angular.js"></script>
        <script src="js/controllers.js"></script>
        <style type="text/css">
            .table td {
                text-align: center;   
            }

             .table th {
                text-align: center;   
            }
        </style>
        
    </head>
    <body ng-controller="WeatherDataCtrl">
        <div class="container">
            <div class="hero-unit span12">
                <!--This is being updated by jQuery above. -->
                <h1>Weather Station Data</h1>
                <h2>Updating live...</h2>
                
            </div>
            
            <div class="row-fluid span6">
                <h3>Data last updated: </h3>
                <p id="curTime"> </p>
            </div>
            <div class="span2">
            <!--Sidebar content-->
                <p class="lead">Search: <input ng-model="query"></p>
                
                
            </div>

            <!--Body content-->

            <div class="table-responsive span10" >
                <table class="table table-bordered table-striped table-hover weather_data">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Quantity</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="weather_row in weatherdata | filter:query">
                    
                        <tr>
                            <td>{{ $index + 1 }}</td>
                            <td>{{ weather_row.sensor }}</td>
                            <td>{{ weather_row.value + " " + weather_row.unit }}</td>
                        </tr>
                                   
                    </tbody>
                </table>    
            </div>
                
           
            <div class="row-fluid span4">
                <p> Weather station captures weather data and relays here in real-time. The weather data is also saved in a database as well as uploaded to openweathermap.org for free and open use. 
                </br>
                </br>
                Contact hod.civil@ipsacademy.org for customized reports or to get the weather station setup. 
                </p>
            </div>

        </div>    
        
    </body>
</html>
